@model Entities.EDMX.Consorcio

@{
    ViewBag.Title = "Eliminar";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/@ViewContext.RouteData.Values["controller"].ToString()/Listado">
                Mis @ViewContext.RouteData.Values["controller"].ToString()s
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="/@ViewContext.RouteData.Values["controller"].ToString()/Listado">
                @ViewContext.RouteData.Values["action"].ToString()
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Nombre</li>
    </ol>
</nav>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">

    <h2>Eliminar Consorcio "@Model.Nombre"</h2>

    <a onclick="volver()" class="btn btn-success">Volver</a>

</div>

<div>
    <p>A continuación se muestran los datos del consorcio a eliminar:</p>
    <hr />


    <article class="">

        <article class="border rounded bg-light mb-5 mt-3">
            <div class="card-body">
                <h5 class="card-title">Datos del consorcio</h5>
                <div class="card-text">

                    <h6> @Html.DisplayNameFor(model => model.Nombre)</h6>

                    <p>
                        @Html.DisplayFor(model => model.Nombre)
                    </p>

                    <h6>
                        @Html.DisplayNameFor(model => model.Ciudad)
                    </h6>

                    <p>
                        @Html.DisplayFor(model => model.Ciudad), provincia de @Html.DisplayFor(model => model.Provincia.Nombre)
                    </p>

                    <h6>
                        @Html.DisplayNameFor(model => model.Calle)
                    </h6>

                    <p>
                        @Html.DisplayFor(model => model.Calle),  @Html.DisplayFor(model => model.Altura)
                    </p>

                    <h6>
                        @Html.DisplayNameFor(model => model.DiaVencimientoExpensas)
                    </h6>

                    <p>
                        @Html.DisplayFor(model => model.DiaVencimientoExpensas)
                    </p>

                    <h6>
                        @Html.DisplayNameFor(model => model.FechaCreacion)
                    </h6>

                    <p>
                        @Html.DisplayFor(model => model.FechaCreacion)
                    </p>

                    <h6>
                        @Html.DisplayNameFor(model => model.Usuario)
                    </h6>

                    <p>
                        @Html.DisplayFor(model => model.Usuario)
                    </p>

                </div>
            </div>
        </article>
    </article>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="hidden" name="IdConsorcio" value="@Model.IdConsorcio" />
            <input type="submit" value="Eliminar" class="btn btn-danger ml-0" /> |
            @Html.ActionLink("Cancelar", "Listado")
        </div>
    }

    @Scripts.Render("~/bundles/custom")
