@model List<Entities.EDMX.Consorcio>

@{
    ViewBag.Title = "Listado";
}

@if (TempData["Creado"] != null && (bool)TempData["Creado"] == true)
{
    <h6 class="bg-success p-4 text-light text-center mb-3">
        Consorcio creado correctamente!
    </h6>
}

@if (TempData["Modificado"] != null && (bool)TempData["Modificado"] == true)
{
    <h6 class="bg-success p-4 text-light text-center mb-3">
        Modificado correctamente!
    </h6>
}

@if (TempData["Eliminado"] != null && (bool)TempData["Eliminado"] == true)
{
    <h6 class="bg-success p-4 text-light text-center mb-3">
        Consorcio eliminado correctamente!
    </h6>
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">

    <h2>Listado de Mis Consorcios</h2>

    @Html.ActionLink("Crear Consorcio", "Crear", null, new { @class = "btn btn-success" })

</div>

<section class="table-responsive mb-5">

    <table class="table table-bordered table-hover">
        <tr class="bg-light">
            <th>Nombre</th>
            <th>Provincia</th>
            <th>Ciudad</th>
            <th>Unidades</th>
            <th>Expensas</th>
            <th>Gastos</th>
            <th>Acción</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Nombre
                </td>
                <td>
                    @item.IdProvincia
                </td>
                <td>
                    @item.Ciudad
                </td>
                <td>
                    @Html.ActionLink("Ver Unidades", "Unidades", new { id = item.IdConsorcio }, new { @class = "" })
                </td>
                <td>
                    @Html.ActionLink("Ver Expensas", "Expensas", new { id = item.IdConsorcio }, new { @class = "" })
                </td>
                <td>
                    @Html.ActionLink("Ver Gastos", "Gastos", new { id = item.IdConsorcio }, new { @class = "" })
                </td>
                <td>
                    @Html.ActionLink("Modificar", "Modificar", new { id = item.IdConsorcio }, new { @class = "btn btn-primary" })
                  
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdConsorcio }, new { @class = "btn btn-danger" })

                </td>
            </tr>
        }

    </table>

</section>


