@model Entities.EDMX.Consorcio

@{
    ViewBag.Title = "Modificar";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/@ViewContext.RouteData.Values["controller"].ToString()/Listado">
                Mis @ViewContext.RouteData.Values["controller"].ToString()s
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="/@ViewContext.RouteData.Values["controller"].ToString()/Listado">
                @ViewContext.RouteData.Values["action"].ToString()
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Nombre</li>
    </ol>
</nav>

@if (TempData["Modificado"] != null && (bool)TempData["Modificado"] == false)
{
    <h6 class="bg-danger p-4 text-light text-center mb-3">
        Error al modificar!
    </h6>
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">

    <h2>Modificar Consorcio</h2>

    @Html.ActionLink("Volver", "Listado", null, new { @class = "btn btn-success" })
</div>

<p>A continuación puede modificar los datos del consorcio</p>
<hr />

<section class="row flex-wrap-reverse">

    <article class="col-lg-6 col-sm-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.IdConsorcio, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.EditorFor(model => model.IdConsorcio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IdConsorcio, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdProvincia, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.EditorFor(model => model.IdProvincia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IdProvincia, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Ciudad, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.EditorFor(model => model.Ciudad, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Ciudad, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Calle, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.EditorFor(model => model.Calle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Calle, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Altura, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.EditorFor(model => model.Altura, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Altura, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DiaVencimientoExpensas, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.EditorFor(model => model.DiaVencimientoExpensas, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiaVencimientoExpensas, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FechaCreacion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.EditorFor(model => model.FechaCreacion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FechaCreacion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IdUsuarioCreador, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div>
                        @Html.EditorFor(model => model.IdUsuarioCreador, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IdUsuarioCreador, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        @Html.ActionLink("Cancelar", "Listado", null, new { @class = "btn btn-danger ml-0 mr-2" })
                    </div>
                </div>
            </div>
        }
    </article>

    <article class="col-lg-6 col-sm-12 d-block text-center align-content-center">

        <div>
            @Model.Unidads.Count unidades
        </div>

        <div class="">
            @Html.ActionLink("Ver Unidades", "Unidades", new { id = Model.IdConsorcio })
        </div>
        <div>
            @Html.ActionLink("Ver Expensas", "Expensas", new { id = Model.IdConsorcio })
        </div>
        <div>
            @Html.ActionLink("Ver Gastos", "Gastos", new { id = Model.IdConsorcio })
        </div>
        <div>
            @Html.ActionLink("Modificar", "Modificar", new { id = Model.IdConsorcio }, new { @class = "btn btn-primary" })
        </div>
        <div>
            @Html.ActionLink("Eliminar", "Eliminar", new { id = Model.IdConsorcio }, new { @class = "btn btn-danger" })
        </div>
    </article>
</section>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")