@model Entities.EDMX.Consorcio

@{
    ViewBag.Title = "Modificar";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/@ViewContext.RouteData.Values["controller"].ToString()/Listado">
                Mis @ViewContext.RouteData.Values["controller"].ToString()s
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="/@ViewContext.RouteData.Values["controller"].ToString()/Listado">
                @ViewContext.RouteData.Values["action"].ToString()
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Nombre</li>
    </ol>
</nav>

@if (TempData["Modificado"] != null && (bool)TempData["Modificado"] == false)
{
    <h6 class="bg-danger p-4 text-light text-center mb-3">
        Error al modificar!
    </h6>
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">

    <h2>Modificar Consorcio</h2>

    @Html.ActionLink("Volver", "Listado", null, new { @class = "btn btn-success" })
</div>

<p>A continuación puede modificar los datos del consorcio</p>
<hr />

<section class="row flex-wrap-reverse">

    <article class="col-lg-6 col-sm-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h5 class="mb-4">Datos del consorcio</h5>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <input type="hidden" name="IdConsorcio" value="@Model.IdConsorcio" />

                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div>
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Provincia, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div>
                        @Html.DropDownListFor(Model => Model.IdProvincia, (List<SelectListItem>)ViewBag.ProvinciasItems, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdProvincia, "", new { @class = "text-danger " })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Ciudad, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div>
                        @Html.EditorFor(model => model.Ciudad, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Ciudad, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Calle, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div>
                        @Html.EditorFor(model => model.Calle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Calle, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Altura, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div>
                        @Html.EditorFor(model => model.Altura, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Altura, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DiaVencimientoExpensas, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div>
                        @Html.EditorFor(model => model.DiaVencimientoExpensas, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiaVencimientoExpensas, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" class="btn btn-success ml-0" />
                        <a onclick="volver()" class = "btn btn-danger ml-0 mr-2">Cancelar</a>
                    </div>
                </div>
            </div>
        }
    </article>

    <article class="col-lg-6 col-sm-12 d-block text-center align-middle">

        <article class="border rounded bg-light mb-5 mt-3">
            <div class="card-body">
                <h5 class="card-title m-4">@Model.Nombre</h5>
                <div class="card-text">

                    @if (Model.Unidads.Count >= 1)
                    {
                        if (Model.Unidads.Count > 1)
                        {
                            <p>
                                Cantidad de unidades total: @Model.Unidads.Count
                            </p>
                        }
                        else
                        {
                            <p>
                                1 unidad
                            </p>
                        }
                        <div class="m-2">
                            @Html.ActionLink("Ver Unidades", "Unidades", new { id = Model.IdConsorcio })
                        </div>
                        <div class="m-2">
                            @Html.ActionLink("Ver Expensas", "Expensas", new { id = Model.IdConsorcio })
                        </div>
                        <div class="m-2">
                            @Html.ActionLink("Ver Gastos", "Gastos", new { id = Model.IdConsorcio })
                        </div>
                        <div class="m-2">
                            @Html.ActionLink("Eliminar Consorcio", "Eliminar", new { id = Model.IdConsorcio }, new { @class = "btn btn-danger" })
                        </div>

                    }
                    else
                    {
                        <p>
                            Este consorcio no posee ninguna unidad.
                        </p>
                        <div class="m-2">
                            @Html.ActionLink("Agregar Unidades", "Crear", "Unidad", new { id = Model.IdConsorcio }, null)
                        </div>
                        <div class="m-4">
                            @Html.ActionLink("Eliminar Consorcio", "Eliminar", new { id = Model.IdConsorcio }, new { @class = "btn btn-danger" })
                        </div>
                    }

                </div>
            </div>
        </article>
    </article>
</section>

@Scripts.Render("~/bundles/custom")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")