@model Entities.EDMX.Unidad

@{
    ViewBag.Title = "Crear Unidad";
    /*Entities.EDMX.Consorcio Consorcio = ViewBag.Consorcio as Entities.EDMX.Consorcio;
    Model.IdConsorcio = Consorcio.IdConsorcio;*/
    var IdConsorcio = ViewBag.IdConsorcio;
    var Nombre = ViewBag.Nombre;
}

<!DOCTYPE html>

<html>
<head>
    <title>CrearUnidad</title>
</head>
<body>
    <h2>Nueva Unidad</h2>

    <form action="/Unidad/CrearUnidad" method="Post">
        <div class="row">
            <div class="col-2">

               <div class="form-group">
                <label for="Equipo">Consorcio</label>
                <div>
                        <input class="form-control" type="text" placeholder="Readonly input here…" readonly
                        Name="IdConsorcio" value="@Nombre">
                    </div>
                </div>
                <!--<div class="form-group">
        <label for="IdConsorcio">IdConsorcio</label>
        <div>
           /*Html.EditorFor(Model => Model.IdConsorcio)
            Html.ValidationMessageFor(Model => Model.IdConsorcio)*/
        </div>
    </div>-->

                <div class="form-group">
                    <label for="Nombre">Nombre</label>
                    <div>
                        @Html.EditorFor(Model => Model.Nombre)
                        @Html.ValidationMessageFor(Model => Model.Nombre)
                    </div>
                </div>

                <div class="form-group">
                    <label for="NombrePropietario">Nombre Propietario</label>
                    <div>
                        @Html.EditorFor(Model => Model.NombrePropietario)
                        @Html.ValidationMessageFor(Model => Model.NombrePropietario)
                    </div>
                </div>

                <div class="form-group">
                    <label for="ApellidoPropietario">Apellido Propietario</label>
                    <div>
                        @Html.EditorFor(Model => Model.ApellidoPropietario)
                        @Html.ValidationMessageFor(Model => Model.ApellidoPropietario)
                    </div>
                </div>

                <div class="form-group">
                    <label for="EmailPropietario">Email Propietario</label>
                    <div>
                        @Html.EditorFor(Model => Model.EmailPropietario)
                        @Html.ValidationMessageFor(Model => Model.EmailPropietario)
                    </div>
                </div>

                <div class="form-group">
                    <label for="Superficie">Superficie(m2)</label>
                    <div>
                        @Html.EditorFor(Model => Model.Superficie)
                        @Html.ValidationMessageFor(Model => Model.Superficie)
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
            <div class="col"></div>
        </div>
    </form>

</body>
</html>
