@model List<Entities.EDMX.Unidad>

@{
    ViewBag.Title = "Ver Unidades";
}

<link href="~/Content/Tables/jquery.dataTables.min.css" rel="stylesheet" />

<section>
    @if (TempData["Creado"] != null && (string)TempData["Creado"] != "FALSO")
    {
        <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
            ¡Unidad <strong>@TempData["Creado"].ToString()</strong> creada correctamente!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    @if (TempData["Modificado"] != null && (string)TempData["Modificado"] != "FALSO")
    {
<div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
    ¡Unidad <strong>@TempData["Modificado"].ToString()</strong> modificada correctamente!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
    }

    @if (TempData["Eliminado"] != null && (string)TempData["Eliminado"] != "FALSO")
    {
<div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
    ¡Unidad <strong>@TempData["Eliminado"].ToString()</strong> eliminada correctamente!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
    }

    @if (TempData["Eliminado"] != null && (string)TempData["Eliminado"] == "FALSO")
    {
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            ¡Error al querer eliminar la <strong>unidad</strong>!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</section>

@{Html.RenderPartial("~/Views/Partials/pv_breadcrump.cshtml");}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <h2>Listado de Mis Unidades</h2>
    <p>
        @Html.ActionLink("CREAR UNIDAD", "CrearUnidad", "Unidad", new { id = ViewBag.IdConsorcio }, new { @class = "btn btn-success" })
    </p>
</div>

<p>A continuación se muestra la lista de todas sus unidades</p>
<hr class="mb-5" />

@if (Model.Count() > 0)
{
    <table id="example" class="display table table-bordered table-hover mb-5">
        <thead>
            <tr class="bg-light">
                <th>
                    Unidad
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Email
                </th>
                <th>
                    Superficie
                </th>
                <th>
                    Acción
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Nombre, "ModificarUnidad", new { id = item.IdUnidad })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombrePropietario)
                    </td>
                    <td>
                        @if (item.ApellidoPropietario == null)
                        {
                            <span>N/A</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.ApellidoPropietario)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailPropietario)
                    </td>
                    <td>
                        @if (item.Superficie == null)
                        {
                            <span>N/A</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Superficie)
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Eliminar", "EliminarUnidad", new { id = item.IdUnidad }, new { @class = "btn btn-danger px-3" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <article class="border rounded bg-light mb-5 mt-3 text-center">
        <div class="card-body">
            <h5 class="card-title p-2">¡Gracias por usar nuestra aplicación!</h5>
            <div class="card-text">
                Aún no tenes ninguna unidad. Creá una
                @Html.ActionLink("nueva unidad", "Crear" , new { id = ViewBag.IdConsorcio })
                para empezar a usar la aplicación.
            </div>
        </div>
    </article>
}
@Scripts.Render("~/bundles/custom")

<link href="~/Content/Tables/datatables.min.css" rel="stylesheet" />
<script src="~/Scripts/tables/dataTables.js"></script>
<script src="~/Scripts/tables/datatables.min.js"></script>

