<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="icon" href="~/Content/Images/Marca/logo-azul.svg">
    <title>@ViewBag.Title - Admin consorcios</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
</head>

<body class="p-0">

    @RenderBody()

    @{Html.RenderPartial("~/Views/Partials/pv_footer.cshtml");}

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>

</html>
