@model Entities.EDMX.Gasto

@{
    ViewBag.Title = "Eliminar";
}

@{Html.RenderPartial("~/Views/Partials/pv_breadcrump.cshtml");}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-1">

    <h2>Eliminar Gasto</h2>

    <a onclick="volver()" class="btn btn-success">Volver</a>

</div>

<div>
    <p>Confirme la eliminación del gasto seleccionado</p>
    <hr />


    <article class="d-block text-center align-middle">

        <article class="border rounded bg-light mb-5 mt-3">
            <div class="card-body">
                <h3 class="card-title m-4">¿Desea eliminar el gasto "@Model.Nombre"?</h3>
                <div class="card-text">

                    <p class="text-danger font-weight-bold">
                        Se borrará el gasto y todos sus datos relacionados.
                    </p>

                    <div class="m-4">
                        <form action="/Gastos/Eliminar" method="post">

                            <input type="hidden" name="IdGasto" value="@Model.IdGasto" />
                            <input type="hidden" name="Nombre" value="@Model.Nombre" />
                            <input type="hidden" name="IdConsorcio" value="@Model.IdConsorcio" />
                            <input type="submit" value="Eliminar" class="btn btn-danger" />
                            <a onclick="volver()" class="btn btn-success">Cancelar</a>
                        </form>
                    </div>

                </div>
            </div>
        </article>
    </article>

</div>

@Scripts.Render("~/bundles/custom")
